@model Professor

<form asp-controller="Professor" asp-action="InserirProfessor" method="post">
    <div class="mb-4">
        <label  class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control col-md-2" />
    </div>

    <div class="mb-4">
        <label class="form-label">Disciplina</label>
        <input type="text" asp-for="Disciplina" class="form-control col-md-2" />

    </div>
    <div class="mb-4">
        <label class="form-label">Cpf</label>
        <input type="text" asp-for="Cpf" class="form-control col-md-2" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>